<div class="container-fluid">
  <%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

    <ul>
      <% team.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="container">
    

    <form action="">
      <div class="form-group col-lg-8 col-lg-offset-2">
        <div class="field">
          <%= form.label :name, "Nombre del equipo", class: "control-label" %>
          <%= form.text_field :name, id: :team_name,:required => true, class: "form-control"  %>
        </div>
      </div>

      <%= form.hidden_field :group_id, :value =>1%>
      <%= form.hidden_field :min_member, :value =>2%>


      <div class="form-group col-lg-8 col-lg-offset-2">
        <div class="field">
          <%= form.label :max_member, "Numero maximo de integrantes (Mínimo 2)", class:"control-label" %>
          <%= form.number_field :max_member, id: :team_max_member, in: 2..999, step: 1,:required => true , class: "form-control" %>

        </div>
      </div>

      <div class="form-group col-lg-8 col-lg-offset-2">
        <div class="field">
          <%= form.label :description, "Descripción", class:"control-label" %> 
          <%= form.text_area :description, id: :team_description, :required => true , class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-lg-8 col-lg-offset-2">
        <div class="field">
          <%= form.label :logo, "Avatar del equipo",  class:"control-label" %>
          <%= form.file_field :logo, autofocus: true %>
        </div>
      </div>
      <br>     
      <div class="form-group col-lg-8 col-lg-offset-2">
        <div class="actions">
          <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Guardar equipo</i><% end %>
        </div>
      </div>
    </form>


  </div>
  <% end %>
</div>