<p id="notice"><%= notice %></p>

<div class="container-fluid" id="teamsAviable">
  <h1>Equipos disponibles</h1>
  
  <table class="table .table-striped">
    <thead id="theadTeams">
      <tr>
        <th class="text-center"><strong >Equipo</strong></th>
        <th class="text-center">Descripcion</th>
        <th class="text-center">Logo</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @teamAvailable.each do |team| %>
        <tr>
          <td class="text-center"><%= team.name %></td>
          <td class="text-center"><%= team.description %></td>
          <td class="text-center"><%= image_tag(team.logo_url, :width => 65, :height => 75) if team.logo.present? %></td>
          <td><%= button_to 'Unirse', members_path, method: :post, params:{ member:{user_id: current_user.id, team_id: team.id, level: 2}} , class:"btn btn-success btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="text-right" id="link"><%= link_to 'Crear equipo', new_team_path , class:"btn btn-link"%></div>