<p id="notice"><%= notice %></p>

<div class="container-fluid text-center" id="teamsAviable">
  <h1>Equipos disponibles</h1>
  
  <table class="table .table-striped">
    <thead id="theadTeams">
      <tr>
        <th class="text-center"><strong ><h3>Equipo</h3></strong></th>
        <th class="text-center"><h3>Descripción</h3></th>
        <th class="text-center"><h3>Logo</h3></th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @teamAvailableOpen.each do |team| %>
        <% enter = false%>
        <% @myTeams.each do |my| %>
        <% if my.team_id == team.id %>
          <% enter = true %>
        <% end %>
        <% end %>
        <% if !enter && @numberOfMemberIn[team.id] < team.max_member %>
          <tr>
            <td class="text-center"><%= team.name %></td>
            <td class="text-center"><%= team.description %></td>
            <td class="text-center"><%= image_tag(team.logo_url, :width => 65, :height => 75) if team.logo.present? %></td>
            <td><%= button_to 'Enviar solicitud', members_path, method: :post, params:{ member:{user_id: current_user.id, team_id: team.id, level: 0}},data: { confirm: "Esta seguro de enviar la peticion a "+ team.name + "?" } , class:"btn btn-success btn-sm" %></td>
          </tr>
          <% end %>
      <% end %>
  
    </tbody>
  </table >
  
  <%= link_to 'Crear equipo', new_team_path , class:"btn btn-crearGrupo"%>
  
</div>