
<div class="alert alert-info">
	<p id="notice"><%= notice %></p>
</div>
<div class="container-fluid" id="teamsFree">
<div class="">
	<div class="col-md-4 col-md-offset-1">
		<h1 class="">
			<strong><%= @team.name %></strong>
		</h1>
		<% if @team.logo.present? == true %>
		<div class="col-md-8 ">
			<%= image_tag( @team.logo_url, class:"img-responsive img-circle") %>
		</div>
		<% end %>

	</div>
	<div class="">
		<h3 class="text-center"><kbd> Somos: <%= @team.description%></kbd></h3>
	</div>	
	<div class="row">
		
		
	</div>
	
	<br>
	<br>
	<div class="">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h4 class="text-center">Notificaciones y mensajes</h4>
					</div>
					<div class="panel panel-body">
						<pre class="pre-scrollable">
							<blockquote>Citas, mensajes y archivos enviados o recibidos





							;)
							</blockquote>
						</pre>
						<div class="btn-group btn-group-justified">
							<%= link_to 'Enviar mensaje', {}, class:"btn btn-info" %>
							<%= link_to 'Enviar documento',{}, class:"btn btn-warning" %>
							<%= link_to 'Programar reunion',{}, class:"btn btn-success" %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="panel-group">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h5 class="text-center">
											<a data-toggle="collapse" href="#integrantes">
												<%i = 0%>
												<% @userMembers.each do |u| %>
													<%i=i+1%>
												<%end%>
											Integrantes: <%=i%>
											</a>
										</h5>
									</div>
									<div class="panel-collapse collapse" id="integrantes">
										<div class="panel-body">
											<div class="list-group">
												<% @userMembers.each do |u| %>
												<li class="list-group-item list-group-item-info">
													<%= u.email %>	
													</li>
												<%end%>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="panel-group">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h5 class="text-center ">
										<a data-toggle="collapse" href="#invitacionesPendientes" >Invitaciones pendientes</a>
									</h5>
									</div>
									<div id="invitacionesPendientes" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="btn-group-vertical btn-block">
												<%@userInscription.each do |i| %>
												<div class="dropdown">
													<button class="btn btn-success dropdown-toggle btn-block" type="button" data-toggle="dropdown">
														<%= i.email%>
														<span class="caret"></span>
													</button>
													<% @memberInscription.each do |member| %>
													<%if  member.user_id == i.id%>
													<ul class="dropdown-menu dropdown-menu-right">
														<li>
															<%member.level = 1 %>
														<%= button_to 'Por supuesto', member_path(member), method: :put,class: "btn btn-block btn-primary"%>
														</li>
														<li>
															<%= button_to 'No gracias', member_path(member), method: :delete, class: "btn btn-block btn-danger "%>
														</li>
													</ul>
													<% end %>
														<% end %>
												</div>
												<%end%>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
		

	
	</div>
	<p class="text-right">
				Numero de integrantes:
				<strong><%= @team.max_member %></strong>
			</p>
</div>

<div class="text-right" id="link"> 
	<%= link_to 'Editar..', edit_team_path(@team), class:"btn btn-link btn-lg" %> 
</div>

