<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @message.member %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Latutude:</strong>
  <%= @message.latutude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @message.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @message.address %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @message.meeting %>
</p>

<p>
  <strong>Document:</strong>
  <%= @message.document %>
</p>

<p>
  <strong>Type:</strong>
  <%= @message.type %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
