<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :title , "Ingrese un titulo para la tarea" , class:"control-label"%>
      <%= form.text_field :title, id: :assignment_title,:required => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :percent , "Ingrese el porcentaje correspondiente a la tarea" , class:"control-label"%>
      <%= form.number_field :percent, id: :assignment_percent, in: 0.25..100, step: 0.25,:required => true, class: "form-control" %>
    </div>
  </div>

  <%= form.hidden_field :group_id, :value => @group.id%>

   <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Enviar tarea</i><% end %>
<% end %>
