<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :assignment_title %>
  </div>

  <div class="field">
    <%= form.label :percent %>
    <%= form.text_field :percent, id: :assignment_percent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
