<div class="container" id="editarPerfil">
  <h4 class="text-right"><%= current_user.email %></h4> 
  <br>
  <h2 class="text-center">Editar Perfil</h2>
  <br>
  <br>
  
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <form action="">
    <div class="form-group">
     <div class="row">
       <div class="form-group col-md-3">
        <div class="field">
          <%= f.label :nombre , class: "control-label" %>
         <%= f.text_field :name, autofocus: true, class: "form-control" %>
       </div>
          </div>
       
          <div class="form-group col-md-3">
       <div class="field">
        <%= f.label :identificación, class: "control-label" %>
        <%= f.text_field :identification, autofocus: true, class: "form-control" %>
         </div>
          </div>
       
          <div class="form-group col-md-5">

       <div class="field">
        <%= f.label :foto, class: "control-label" %>
        <%= f.file_field :photo, autofocus: true, class: "form-control" %>
         </div>
          </div>
     </div>

  <div class="field">
    <%= f.label :carrera, class: "control-label" %>
    <%= f.text_field :career,  class: "form-control" %>
  </div>  

  

  <div class="field">
    <%= f.label :Estudiante, class: "control-label" %>
    <%= f.check_box :student, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :contraseña %> <i>(deja en blanco si no deseas cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
    <br />
    <em>mínimo <%= @minimum_password_length %> caracteres </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmación_de_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
</div>
</form>
<br><br>
<div class="actions">
  <%= f.submit "Actualizar" %>
</div>

<% end %>
</div>


<h3>Cancelar mi cuenta</h3>

<p>Descontento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Está seguro que desea cancelar su cuenta?" }, method: :delete %></p>

<%= link_to "Back", :back %>
