<h3>Editar Perfil</h3>
<strong>Correo Electrónico</strong><p>
<%= current_user.email %> 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
	<%= f.label :nombre %><br />
	<%= f.text_field :name, autofocus: true %>
  </div>
 
  <div class="field">
    <%= f.label :identificación %><br />
    <%= f.text_field :identification, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :carrera %><br />
    <%= f.text_field :career, autofocus: true %>
  </div>  
  
  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :photo, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :Estudiante %>
    <%= f.check_box :student, autofocus: true %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :contraseña %> <i>(deja en blanco si no deseas cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>mínimo <%= @minimum_password_length %> caracteres </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmación_de_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
	<br><br>
  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Descontento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Está seguro que desea cancelar su cuenta?" }, method: :delete %></p>

<%= link_to "Back", :back %>
