<%= form_with(model: student_create_group, local: true) do |form| %>
  <% if student_create_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_create_group.errors.count, "error") %> prohibited this student_create_group from being saved:</h2>

      <ul>
      <% student_create_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>

    <div class="container">
      <div class="row ">
        <div class="form-group col-md-offset-1 col-md-6">
          <div class="field">
              <%= form.label :nombre_del_Grupo, class: "label-control" %>
              <%= form.text_field :nombre, id: :student_create_group_nombre, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
            <div class="field"> 
              <%= form.label :imagen %> 
              <%= form.file_field :imagen, id: :student_create_group_imagen, class: 'form-control'%> 
            </div> 
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-offset-1 col-md-6">
          <div class="field">
            <%= form.label :numero_maximo_de_integrantes %>
            <%= form.number_field :maxIntegrantes, id: :student_create_group_maxIntegrantes ,class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-offset-1 col-md-8">
          <div class="field">
            <%= form.label :descripcion_del_Grupo, class: 'label-control'%>
            <%= form.text_area :descripcion, id: :student_create_group_descripcion , rows: 4,  class: 'form-control'%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-offset-8 col-md-2">
          <div class="actions">
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="icon-ok icon-white"></i> Crear Grupo
            <% end %>
          </div>
        </div>
      </div>
    </div>


<% end %>
