<%= form_with(model: student_create_group, local: true) do |form| %>
  <% if student_create_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_create_group.errors.count, "error") %> prohibited this student_create_group from being saved:</h2>

      <ul>
      <% student_create_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :student_create_group_nombre %>
  </div>

  <div class="field">
    <%= form.label :maxIntegrantes %>
    <%= form.number_field :maxIntegrantes, id: :student_create_group_maxIntegrantes %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :student_create_group_descripcion %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.file_field :imagen, id: :student_create_group_imagen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
