<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CreateGroups</title>
	<meta name="viewport" content="width=divice-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	 <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'font-awesome.min' %>
  <%= stylesheet_link_tag 'jquery' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>

</head>

<body class="container">
	
	
	
	<div class="form-group row" id="nameGroup">
		<div class="col-md-5" id="people">
			<div class="thumbnail">
				<div class="fill center-block" id="image1">
					</div>
			</div>
			<button class="btn-info">Cargar imagen de grupo</button>
		</div>
		<div class="col-md-4">
			<label for="nameGroupText" class="" >Nombre del grupo</label>
			<%= text_field 'create_groups', 'nombre', class:"form-control" %>
	
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-3">
			<label for="studentsNumber" class="label-control">Numero max. de integrantes</label>
			<%= number_field 'create_groups', 'maxIntegrantes', class:"form-control" %>
		</div>
		<div class="col-md-9">
			<label for="descriptionGroup" class="label-control">Ingrese una breve descripcion del grupo</label>
			<%= text_area_tag 'create_groups', 'descripcion', class:"form-control"%>
		</div>
	</div>
	<div class="form-group row">

		<div class="col-md-offset-10">
			<button class="btn-primary">Crear grupo</button>
		</div>

	</div>
	

</body>

</html>
