<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center text-success">Grupos creados</h1>
  <br>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre del grupo</th>
        <th>Numero de integrantes</th>
        <th>Descripción</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @student_create_groups.each do |student_create_group| %>
        <tr>
          <td><%= student_create_group.nombre %></td>
          <td><%= student_create_group.maxIntegrantes %></td>
          <td><%= student_create_group.descripcion %></td>
          <td><%= link_to 'Ver', student_create_group %></td>
          <td><%= link_to 'Editar', edit_student_create_group_path(student_create_group) %></td>
          <td><%= link_to 'Eliminar', student_create_group, method: :delete, data: { confirm: '¿Esta seguro de borar este grupo?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<br>

<%= link_to 'Crear un grupo nuevo', new_student_create_group_path %>
</div>