<p id="notice"><%= notice %></p>

<h1>Student Create Groups</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Maxintegrantes</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_create_groups.each do |student_create_group| %>
      <tr>
        <td><%= student_create_group.nombre %></td>
        <td><%= student_create_group.maxIntegrantes %></td>
        <td><%= student_create_group.descripcion %></td>
        <td><%= link_to 'Show', student_create_group %></td>
        <td><%= link_to 'Edit', edit_student_create_group_path(student_create_group) %></td>
        <td><%= link_to 'Destroy', student_create_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Create Group', new_student_create_group_path %>
