<div class="container">
	<div id=verGrupos>
		<div class="fill center-block"></div>
			<p id="notice"><%= notice %></p>
			<h4 class="text-center text-warning">Bienvenido al grupo <%= @student_create_group.nombre %> </h4>
			<br>
			<br>
			
			
			<p>
			  <%= @student_create_group.maxIntegrantes %>
			  <strong>Maxintegrantes:</strong>
			</p>
			
			<p>
			  <%= @student_create_group.descripcion %>
			  <strong>Descripcion:</strong>
		
			</p>
		
		<%= link_to 'Retroceder', student_create_groups_path, class: 'btn btn-link' %>
		<%= link_to 'Editar', edit_student_create_group_path(@student_create_group), class: 'btn btn-link' %> |
	</div>
</div>
<p>
  <strong>Imagen:</strong>
      <%= image_tag(@student_create_group.imagen_url, :width => 170, :height => 190) if @student_create_group.imagen.present? %>
</p>