<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nident %>
    <%= form.number_field :nident, id: :person_nident %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="field">
    <%= form.label :administrator %>
    <%= form.check_box :administrator, id: :person_administrator %>
  </div>

  <div class="field">
    <%= form.label :isStudent %>
    <%= form.check_box :isStudent, id: :person_isStudent %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.check_box :owner, id: :person_owner %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :person_gender %>
  </div>

  <div class="field">
    <%= form.label :career %>
    <%= form.text_field :career, id: :person_career %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :person_city %>
  </div>

  <div class="field">
    <%= form.label :aboutme %>
    <%= form.text_area :aboutme, id: :person_aboutme %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
