<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @person.administrator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @person.type %>
</p>

<p>
  <strong>Career:</strong>
  <%= @person.career %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
