<p id="notice"><%= notice %></p>

<p>
  <strong>Idstudent:</strong>
  <%= @student.idStudent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Birth day:</strong>
  <%= @student.birth_day %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Ocupation:</strong>
  <%= @student.ocupation %>
</p>

<p>
  <strong>Career:</strong>
  <%= @student.career %>
</p>

<p>
  <strong>Preferences:</strong>
  <%= @student.preferences %>
</p>

<p>
  <strong>About me:</strong>
  <%= @student.about_me %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
