<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :score_title %>
  </div>

  <div class="field">
    <%= form.label :id_assign %>
    <%= form.number_field :id_assign, id: :score_id_assign %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
