<p id="notice"><%= notice %></p>

<h1>Workteams</h1>

<table>
  <thead>
    <tr>
      <th>Idworkteam</th>
      <th>Idstudent</th>
      <th>Idgroup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workteams.each do |workteam| %>
      <tr>
        <td><%= workteam.idWorkteam %></td>
        <td><%= workteam.idStudent %></td>
        <td><%= workteam.idGroup %></td>
        <td><%= link_to 'Show', workteam %></td>
        <td><%= link_to 'Edit', edit_workteam_path(workteam) %></td>
        <td><%= link_to 'Destroy', workteam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workteam', new_workteam_path %>
