
<div class="container-fluid" id="grupo">
	<p id="notice"><%= notice %></p>
	  <div class="jumbotron" id="tituloGrupo">
	  	<h1 class="text-center text-uppercase">
	  		<%= @subjectGroup[0].name %>
	  	</h1>
	</div>
	<%if current_user.student == false%>
		
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Equipos de trabajo activos</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      						<%@teamsAvailable.each do |team|%>
		      						<div class="col-md-4">
			      						<%=link_to team.name.split(@subjectGroup[0].name)[0],  team, class:"btn btn-default btn-block"%>
			      					</div>
		      						<%end%>
		      				</div>
		      				<div class="btn-group btn-group-justified">
<<<<<<< HEAD
		      					<a href="#ordenAlfabetico" class="btn btn-success" type="button" data-toggle="modal" >Crear equipos por orden alfabético</a>
		      					<a class="btn btn-success" type="button" data-toggle="modal" href="#aleatorio">Crear equipos aleatorios</a>
=======
		      					<a href="#ordenAlfabetico" class="btn btn-success" type="button" data-toggle="modal" ><strong>Crear equipos por orden alfabético</strong></a>
		      					<a class="btn btn-success" type="button" data-toggle="modal" href="#aleatorio"><strong>Crear equipos aleatorios</strong></a>
>>>>>>> 7cf063e4c456294c54c1382cd3cc81ca55b6a7c2
		      				</div>
		      			</div>
	    			</div>
				</div>
				
		
			<div class="col-md-6 col-md-offset">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Tareas</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      					<div class="row">
		      						<%@assignmentGroup.each do |a|%>
		      						<div class="col-md-6">

		      							<%= link_to a.title, assignment_path( a, :type_assignment => 2, :group => @group ), class:"btn btn-default btn-block"%>
		      						</div>
		      						<%end%>
		      					</div>
		      					
		      				</div>
		      				<div class="btn-group btn-group-justified">
		      					
								<a href="#nuevaTarea"  class="btn btn-wall" data-toggle="modal">Crear tareas</a>
							</div>
		   			</div>
	    		</div>
			</div>
		</div>
		
		
		
	
		</div>
		

		
		<!-- <div class="row">
			<div class="col-md-1">
					<%= link_to "Crear equipos vacíos", new_team_path, class: "btn  btn-success" %>
			</div>
		</div>
		 -->
	
		
		
	<%@userInscriptionGroupAlphabetic.each do |user|%>
		      						<%=user.email%>
		      						<%end%>



<div id="ordenAlfabetico" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Crear equipos por orden alfabético</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= form_tag ("/groups/createTeams")  do %>
				  <%=label_tag "minNumber","Numero minimo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "minNumber",nil,in: 2..(@studentNumberTotal[@group.id]), step: 1,:required => true ,class:'form-control' %>
				<%=label_tag "maxNumber","Numero maximo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "maxNumber",nil, in: 2..(@studentNumberTotal[@group.id]), step: 1,:required => true ,class:'form-control' %>
				  <%= hidden_field_tag(:numberGroup, @group.id)%>
				  <br>
				 <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Crear equipo</i><% end %>
				 <% end %>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="aleatorio" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Crear equipos de forma aleatoria</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= form_tag ("/groups/createTeamsRandom")  do %>
				  <%=label_tag "minNumber","Numero minimo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "minNumber",nil,in: 2..(@studentNumberTotal[@group.id]-1), step: 1,:required => true ,class:'form-control' %>
				<%=label_tag "maxNumber","Numero maximo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "maxNumber",nil,in: 2..(@studentNumberTotal[@group.id]-1), step: 1,:required => true,class:'form-control' %>
				  <%= hidden_field_tag(:numberGroup, @group.id)%>
				  <br>
				 <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Crear equipo</i><% end %>
				 <% end %>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="nuevaTarea" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Asignar una nueva tarea</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= render "assignments/form" ,assignment: @assignment, :group => @group %>

      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
		
	<%end%>


	<%if current_user.student == true%>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Equipos de trabajo activos</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      						<%@teamsAvailable.each do |team|%>
		      						<%=link_to team.name.split(@subjectGroup[0].name)[0],  team, class:"btn btn-default"%>
		      						<%end%>
		      				</div>
		      			
		      			</div>
	    			</div>
				</div>
				
		
			<div class="col-md-6 col-md-offset">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Tareas</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      					
		      				</div>
		      				
		   			</div>
	    		</div>
			</div>
		</div>
		
		
		
	
		</div>
		

		
		<!-- <div class="row">
			<div class="col-md-1">
					<%= link_to "Crear equipos vacíos", new_team_path, class: "btn  btn-success" %>
			</div>
		</div>
		 -->
	
		
		
	<%@userInscriptionGroupAlphabetic.each do |user|%>
		      						<%=user.email%>
		      						<%end%>



<div id="ordenAlfabetico" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Crear equipos por orden alfabético</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= form_tag ("/groups/createTeams")  do %>
				  <%=label_tag "minNumber","Numero minimo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "minNumber",nil,in: 2..(@studentNumberTotal[@group.id]), step: 1,:required => true ,class:'form-control' %>
				<%=label_tag "maxNumber","Numero maximo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "maxNumber",nil, in: 2..(@studentNumberTotal[@group.id]), step: 1,:required => true ,class:'form-control' %>
				  <%= hidden_field_tag(:numberGroup, @group.id)%>
				  <br>
				 <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Crear equipo</i><% end %>
				 <% end %>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="aleatorio" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Crear equipos de forma aleatoria</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= form_tag ("/groups/createTeamsRandom")  do %>
				  <%=label_tag "minNumber","Numero minimo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "minNumber",nil,in: 2..(@studentNumberTotal[@group.id]-1), step: 1,:required => true ,class:'form-control' %>
				<%=label_tag "maxNumber","Numero maximo de estudiantes", class: "control-label"%>
				  <%= number_field_tag "maxNumber",nil,in: 2..(@studentNumberTotal[@group.id]-1), step: 1,:required => true,class:'form-control' %>
				  <%= hidden_field_tag(:numberGroup, @group.id)%>
				  <br>
				 <%= button_tag(type: 'submit', class: "btn btn-save-team") do %>
          <i class="icon-ok icon-white">Crear equipo</i><% end %>
				 <% end %>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="nuevaTarea" class="modal fade" role="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Asignar una nueva tarea</strong></h4>
      </div>
      <div class="modal-body">
      	<div class="container">
      		<div class="row col-md-4 col-md-offset-1">
 
      			<%= render "assignments/form" ,assignment: @assignment, :group => @group %>

      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<%end%>