
<div class="container-fluid" id="grupo">
	<p id="notice"><%= notice %></p>
	  <div class="jumbotron" id="tituloGrupo">
	  	<h1 class="text-center text-uppercase">
	  		<%= @subjectGroup[0].name %>
	  	</h1>
	</div>
	<%if current_user.student == false%>
		
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Equipos de trabajo activos</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      				</div>
		      			</div>
	    			</div>
				</div>
				
		
			<div class="col-md-3 col-md-offset-6">
				<div class="panel panel-primary">
		      		<div class="panel-heading"><h4 class="text-center">Notas</h4></div>
		      			<div class="panel-body">
		      				<div class="list-group">
		      				</div>
		   			</div>
	    		</div>
			</div>
		</div>
		
		<p></p>
		
		<div class="row">
			<div class="col-md-1">
					<%= link_to "Crear equipos aleatorios", new_team_path, class: "btn btn-success" %>
			</div>
			
			<div class="col-md-1 col-md-offset-8">
					<%= link_to "Descargar notas", new_team_path, class: "btn  btn-success" %>
			</div>
		</div>
		
		<p></p>
		
		<div class="row">
			<div class="col-md-1">
					<%= link_to "Crear equipos vacíos", new_team_path, class: "btn  btn-success" %>
			</div>
		</div>
		
		<p></p>
		
		<div class="row">
			<div class="col-md-1">
					<%= link_to "Crear equipos por orden alfabético", new_team_path, class: "btn  btn-success" %>
			</div>
		</div>
		
	<%end%>
