<% if current_user.student == false %>

	<% if current_user.name == nil || current_user.name == ''%>
	<% n = current_user.email.split('@') %>
	<% else %>
	<% n = current_user.name.split %>
	<% end %>
	<% n = n[0] %>
	<div class="container-fluid">
		<div class="row" id="encabezadoBienvenida">
	<div class="row col-md-10">
		<h2 class="text-center"><strong>Bienvenido <%=n%></strong> </h2>
	</div>
	
			<%if current_user.photo.present? == true %>
			<div class="col-md-2">
				<%= image_tag(current_user.photo_url, class:"img-responsive img-thumbnail") %> 
			</div>
			<% end %>
	
		</div>
	
		<div class="row" id="cuerpoHomeUser">
			<br>
		<br>
		<div class="col-md-3" id="materiasInscritas">
			<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Materias que enseñas</h4>
			</div>
			<div class="panel-body">
				
				<div class="list-group">
					<% @subjects.each do |subject| %>
					<%= link_to subject.name, subject, class: "list-group-item list-group-item-info" %>
					<%end%>
	
				</div>
	<%= will_paginate @subjects %>
			</div>
			
			</div>
		</div>
		<div class="col-md-5">
			<h1>TABLERO DE TAREAS PENDIENTES</h1>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Gupos libres que a los que te has unido</h4>
					<% @freeTeamsIn.each  do |team|%>
						<%=link_to team.name, team, class: "list-group-item list-group-item-info"%>
					<%end%>
				</div>
				<div class="panel-body">
					
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-8">
			
						<%= link_to "Crear un grupo libre", new_team_path, class: "btn  btn-success" %>
						<%= link_to "Unirte a un grupo", teams_path, class: "btn btn-success" %>
						<%= link_to "Crear un grupo asociado a una materia", new_group_path, class: "btn btn-success" %>
			</div>
			</div>
		</div>
	</div>
	</div>
	
<% else %>

	<% if current_user.name == nil || current_user.name == ''%>
	<% n = current_user.email.split('@') %>
	<% else %>
	<% n = current_user.name.split %>
	<% end %>
	<% n = n[0] %>
	<div class="container-fluid">
		<div class="row" id="encabezadoBienvenida">
	<div class="row col-md-10">
		<h2 class="text-center"><strong>Bienvenido <%=n%></strong> </h2>
	</div>
	
			<%if current_user.photo.present? == true %>
			<div class="col-md-2">
				<%= image_tag(current_user.photo_url, class:"img-responsive img-thumbnail") %> 
			</div>
			<% end %>
	
		</div>
	
		<div class="row" id="cuerpoHomeUser">
			<br>
		<br>
		<div class="col-md-3" id="materiasInscritas">
			<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Materias que tienes inscritas</h4>
			</div>
			<div class="panel-body">
				
				<div class="list-group">
					<% @subjectsUser.each do |subject| %>
					<%= link_to subject.name, subject, class: "list-group-item list-group-item-info" %>
					<%end%>
	
				</div>
	<%= will_paginate @subjectsUser %>
			</div>
			
			</div>
		</div>
		<div class="col-md-5">
			<h1>TABLERO DE TAREAS PENDIENTES</h1>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Gupos libres que a los que te has unido</h4>
					<% @freeTeamsIn.each  do |team|%>
						<%=link_to team.name, team, class: "list-group-item list-group-item-info"%>
					<%end%>
				</div>
				<div class="panel-body">
					
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-8">
			
						<%= link_to "Crear un grupo libre", new_team_path, class: "btn  btn-success" %>
						<%= link_to "Unirte a un grupo", teams_path, class: "btn btn-success" %>
			</div>
			</div>
		</div>
	</div>
	</div>
	
<% end %>

