<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home-VirtualClassroom</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'font-awesome.min' %>
	<%= stylesheet_link_tag 'jquery' %>
	<%= stylesheet_link_tag 'bootstrap.min' %>
	<%= stylesheet_link_tag 'navbar' %>
</head>
<body class="container-fluid" data-spy="scroll" data-target=".navbar" data-offset="20">
	<header class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="myNav">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse" aria-expanded="false" aria-controls="navbar">
						<span class="" id="toggle"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-brand-centered" id="Log" href="#">Virtual-Classroom <strong>UN</strong>

					</a>
				</div>
				<nav class="collapse navbar-collapse" role="navigation" >
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#quienSomos">¿Quienes somos?</a>
						</li>
						<li>
							<a href="#servicios">Nuestros Servicios</a>
						</li>
						<li>
							<a href="#contacto">
								Contacto
							</a>
						</li>
						<li>
							<%= link_to('Personas', people_path) %>
						</li>
						<li>
							<%= link_to('Grupos', student_create_groups_path) %>
						</li>
						<% if user_signed_in? %>
						  <li>
						  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
						  </li>
						<% else %>
						  <li>
						  <%= link_to('Login', new_user_session_path)  %>  
						  </li>
						<% end %>
						
					</ul>
				</nav>
			</div>
		</nav>
	</header>
	<section id="quienSomos">
		<div class="row">
			<div class="col-lg-4">
				<div class="fill center-block"></div>
			</div>
			<div class="col-lg-8">
				<div class="caption">
					<h1 class="text-center">¿Quienes Somos?</h1>
					<br>
					<p>
						La aplicación permite que los estudiantes conformen sus propios grupos, a diferencia de
						otras aplicaciones que solo permitirían al profesor crear los grupos, sin interacción de parte
						de ​ ​los​ ​mismos​ ​estudiantes.
						<br>
						La aplicación permitirá al docente establecer parámetros para la conformación de los grupos
						y, bajo esos parámetros, crearlos de manera aleatoria o permitir a los estudiantes crear sus
						propios​ ​grupos.
						<br>
						El docente podrá establecer parámetros respecto al tamaño de los grupos, número de
						grupos, ​ ​multidisciplinariedad, ​ ​etc.
					</p>
					<p>

					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="servicios">
		<div class="row">
			<h1 class="text-center">Nuestros Servicios</h1>
			<br>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image1">
					</div>
					<div class="thumbnail-caption">
						<p>
							A los docentes se les facilita la visualización de sus estudiantes por cursos, por grupos en los cursos, así como la calificación y la comunicación con los mismos
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image2">
					</div>
					<div class="thumbnail-caption">
						<p>
							Para los estudiantes será más fácil encontrar un grupo para el desarrollo de cada una de las materias que curse, además permite una fácil comunicación con los compañeros y con el docente
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image3">
					</div>
					<div class="thumbnail-caption">
						<p>
							Permite una mejor organización del tiempo, ya sea como docente lo cual facilita la visualización de los horarios de clase y reuniones con estudiantes; como estudiantes facilita la programación de trabajo con los demás compañeros
						</p>
					</div>
				</div>
			</div>
			<br>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image4">
					</div>
					<div class="thumbnail-caption">
						<p>
							Permite compartir datos de ubicación entre usuarios o establecer puntos de encuentro entre los usuarios
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image5">
					</div>
					<div class="thumbnail-caption">
						<p>
							La comunicación con los demás es mas sencilla gracias a que con sencillez te puede dirigir al profesor, los estudiantes o tu grupo
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="thumbnail">
					<div class="fill center-block" id="image6">
					</div>
					<div class="thumbnail-caption">
						<p>
							Existen diversas alternativas para armar grupo, desde un modo aleatorio a que ellos los estudiantes busquen grupo.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contacto">
		<div class="row">

                <h1 class="text-center">Envianos tu solicitud y te respondemos lo antes posible</h1>
                <form role="center-block form" id="register-form">
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Nombre de su organizacion o institucion" id="form-c">
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <select class="form-control" placeholder="Ciudad" id="form-c">
                            <option value="" disabled selected>Ciudad</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-8 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Tus nombres" id="form-c">
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Telefono de contacto" id="form-c">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Primer apellido" id="form-c">
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Telefono celular" id="form-c">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="text" class="form-control"  placeholder="Segundo apellido" id="form-c">
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-6">
                        <input type="email" class="form-control"  placeholder="Email" id="form-c">
                    </div>
                    <div class="clearfix"></div>
                        <div class="form-group">
                          <label for="Mensaje">Mensaje:</label>
                          <textarea class="form-control" rows="3" id="msg"></textarea>
                        </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-10 col-sm-4 col-md-4 col-lg-12">
                        <button type="submit" class="btn btn btn-primary pull-right">Enviar</button>
                    </div>
                </form>
                <br /><br />
            </div>
	</section>


</body>
</html>
