<%= form_with(model: group_inscription, local: true) do |form| %>
  <% if group_inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_inscription.errors.count, "error") %> prohibited this group_inscription from being saved:</h2>

      <ul>
      <% group_inscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rol %>
    <%= form.text_field :rol, id: :group_inscription_rol %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
