<%= form_with(model: inscription, local: true) do |form| %>
  <% if inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
      <% inscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :inscription_id %>
  </div>

  <div class="field">
    <%= form.label :idStudent %>
    <%= form.number_field :idStudent, id: :inscription_idStudent %>
  </div>

  <div class="field">
    <%= form.label :idCourse %>
    <%= form.number_field :idCourse, id: :inscription_idCourse %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
