<p id="notice"><%= notice %></p>

<h1>Inscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Id team</th>
      <th>Id user</th>
      <th>Id group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.user_id %></td>
        <td><%= inscription.group_id %></td>
        <td><%= link_to 'Show', inscription %></td>
        <td><%= link_to 'Edit', edit_inscription_path(inscription) %></td>
        <td><%= link_to 'Destroy', inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscription', new_inscription_path %>
