<p id="notice"><%= notice %></p>

<h1>Inscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Idstudent</th>
      <th>Idcourse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.id %></td>
        <td><%= inscription.idStudent %></td>
        <td><%= inscription.idCourse %></td>
        <td><%= link_to 'Show', inscription %></td>
        <td><%= link_to 'Edit', edit_inscription_path(inscription) %></td>
        <td><%= link_to 'Destroy', inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscription', new_inscription_path %>
