<div class="container-fluid" id="inicioSesion">
  <div id="logo">
    <div class="form-group">
      <div class="form-group col-md-6">
        <div class="fill "></div>
      </div>
    </div>
    <div class="form-group col-md-5 col-md-offset-1" id="">
      <h2>Iniciar sesi칩n</h2>
      <br>
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "Correo electr칩nico",  class: "control-label "%>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <br> 
      <div class="form-group">
        <div class="field">
          <%= f.label :password, "Contrase침a", class: "control-label" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
      <div class="form-group col-md-offset-1">
        <div class="checkbox">
          <div class="field">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me, "Recuerdame", class: "control-label" %>
          </div>
        </div>
      </div>
      <% end -%>

      <div class="">
        <div class="form-group col-md-2">
          <div class="actions">
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class=""></i> Iniciar sesi칩n
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <%= render "devise/shared/links" %>
</div>

3