<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
	<title>Virtual Classroom UN</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Virtual Classroom UN</title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'jquery'%>
    <%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'font-awesome.min' %>

	<%= stylesheet_link_tag 'bootstrap.min' %> 
	<%= stylesheet_link_tag 'navbar' %> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="container-fluid" data-spy="scroll" data-target=".navbar" data-offset="20">
	<div class="">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="myNav">
			<div class="container">
				<div class="navbar-header">	
	 	      <%= link_to("Virtual-Classroom UN", home_index_path, class: "navbar-brand navbar-brand-centered") %>
	 	    </div>
	 	    <nav class="collapse navbar-collapse" role="navigation" >
					<ul class="nav navbar-nav navbar-right">
						<% if (current_page?('/home/index') || current_page?(root_path) )%>
	
						<li>
							 <a href="#quienSomos">¿Quienes somos?</a> 
						</li>
						<li>
 							<a href="#servicios">Nuestros Servicios</a>
 						</li>
						<li>
							<a href="#contacto">
								Contacto
							</a>
						</li>
						<% end %>
						<% if user_signed_in? %>
						<li>
							<%userEmail = current_user.email.split('@')%>
							<%= link_to(userEmail[0], users_home_url) %>
						</li>
						<li>
							<%= link_to('Editar', edit_user_registration_path) %>
						</li>
						  <li>
						  <%= link_to('Salir', destroy_user_session_path, method: :delete) %>        
						  </li>
						<% else %>
						  <li>
						  <%= link_to('Ingresar', new_user_session_path)  %>  
						  </li>
						<% end %>
						
					</ul>
				</nav>	 	   
	 	  </div>
	 	</nav>
	 </div>

	  
	 <% if notice %>
	   <p class="alert alert-success"><%= notice %></p>
	 <% end %>
	 <% if alert %>
	   <p class="alert alert-danger"><%= alert %></p>
	 <% end %>
	 
	 <div class="container-fluid">
	   <%= yield %>
	 </div>

 	<footer>
 	  <div class="container">
 	    <p class="text-left">
		  <%= image_tag ("logo wagondev thumb.png") %> WagonDev <%= Time.now.year %>
 	    </p>
 	  </div>
 	</footer>
		
  </body>
</html>
