<!DOCTYPE html>
<html>
  <head>
    <title>VirtualClassroomUn</title>
    <%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'font-awesome.min' %>
	<%= stylesheet_link_tag 'jquery' %>
	<%= stylesheet_link_tag 'bootstrap.min' %>
	<%= stylesheet_link_tag 'navbar' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
	  
	  <% if notice %>
	    <p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	    <p class="alert alert-danger"><%= alert %></p>
	  <% end %>
	  
	<div class="container-fluid">
	  <%= yield %>
	</div>
	
	<footer>
	  <div class="container">
	    WagonDev <%= Time.now.year %>
	  </div>
	</footer>

	
  </body>
</html>
