<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @member.user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @member.team_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @member.level %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
